.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-content: space-around;
}
.flex-container > div {
  margin: 10px;
  width: 250px;
}

.card-img-top{
  height: 200px;
  
}

